<!DOCTYPE html>
<html>
<head>
    <title>神龍毁灭</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
    <link rel="icon" href="../static/img/p-2689.png" type="image/x-icon"/>
    <style>
        .coverflow .swiper-slide {
            width: 40% !important;
            padding: 0 0 1rem 0;
        }

        .img-dl-tips {
            display: none;
            width: 100%;
        }

        .hide1 {
            display: none !important
        }
    </style>
    <script>
        var defaultFontSize = 0;

        function getDefaultFS() {
            var d = window.document.createElement('div');
            d.style.width = '1rem';
            d.style.display = "none";
            var head = window.document.getElementsByTagName('head')[0];
            head.appendChild(d);
            defaultFontSize = parseFloat(window.getComputedStyle(d, null).getPropertyValue('width'));
            d.parentNode.removeChild(d);
        }

        function adapt(designWidth, rem2px) {
            if (!navigator.userAgent.match(/(iphone|ipad|android)/gi)) {
                document.documentElement.style.fontSize = "200px";
                document.documentElement.style.background = "#000";
                document.documentElement.classList.add("pc");
                return;
            }

            document.documentElement.classList.remove("pc");
            if (window.orientation == 0 || window.orientation == 180) {
                document.documentElement.classList.remove("hori");
            } else {
                document.documentElement.classList.add("hori");
            }
            var head = window.document.getElementsByTagName('head')[0];
            document.documentElement.style.fontSize = window.innerWidth / designWidth * rem2px / defaultFontSize * 100 + '%';

            var st = document.createElement('style');
            var portrait = "@media screen and (min-width: " + window.innerWidth + "px) {html{font-size:" + ((window.innerWidth / (designWidth / rem2px) / defaultFontSize) * 100) + "%;}}";
            var landscape = "@media screen and (min-width: " + window.innerHeight + "px) {html{font-size:" + ((window.innerHeight / (designWidth / rem2px) / defaultFontSize) * 100) + "%;}}"
            st.innerHTML = portrait + landscape;
            head.appendChild(st);
        };
        getDefaultFS();
        adapt(375, 100);
        window.addEventListener("resize", function () {
            adapt(375, 100);
        })
    </script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/indexver.css">

</head>
<body>
<div class="full full-video">
    <video x-webkit-airplay="true" webkit-playsinline="true" id="v1" playsinline="true" controls="controls"
           x5-playsinline="true"
           x5-video-player-type="h5" x5-video-player-fullscreen="true" x5-video-orientation="portraint"
           preload="true" data-savepage-src="../static/v-3055.mp4"
           src="../static/v-3055.mp4"
           class="video page hide" style="object-fit: fill; background: rgb(0, 0, 0);"></video>

    <script>
        function playvideo() {
            var v1 = document.getElementById('v1');
            document.getElementById("v2").classList.add("hide1");
            document.getElementById("bk").classList.add("hide1");

            v1.play()

            elevideo.addEventListener('ended', function () { //结束
                document.getElementById("v2").classList.remove("hide1");
                document.getElementById("bk").classList.remove("hide1");
            }, false);

        }
    </script>

    <div class="control page" onclick="playvideo();this.style.visibility='hidden'" style="z-index: 2;"></div>
    <div class="tips" style="z-index: 4;">
        <p class="title">@神龍毁灭</p>
        <p class="desc">上线就送VIP，尊享礼包码vip2020！</p>
        <span class="btn" onclick="jumppage()">点我玩玩</span></div>
    <script>
        function jumppage() {
            window.location.href = 'https://apps.apple.com/cn/app/id1483315234'
        }
    </script>
    <script>
        function wclose() {
            document.getElementById("hide").classList.add("hide1");
        }
    </script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#hide").animate({left: -widthhh});
            }, 1000)
            if (true) {
                var widthhh = $(window).width();

                setTimeout(function () {
                    $("#hide").animate({left: "20px"});
                }, 1000)

            }
        });
    </script>

    <div id="hide" class="dl" style="z-index: 5;">
        <div class="dl-info">
            <img src="../static/img/p-2689.png" class="dl-icon"><span class="dl-close" onclick="wclose()">X</span>
            <p class="title">神龍毁灭</p>
            <p class="desc">上线就送VIP，尊享礼包码vip2020！</p></div>
        <span class="btn" onclick="jumppage()">点我玩玩</span></div>
    <div class="video-mask page" id="bk"
         style="background-image: url('../static/img/p-3054.jpg'); z-index: 1;">
        <div class="mask"></div>
    </div>
    <div class="video-end page hide1" id="v2" style="z-index: 3;">
        <div class="video-end page" style="z-index: 3;">
            <div class="video-end-box">
                <div class="name">神龍毁灭</div>
                <span class="btn btn-play" onclick="playvideo()">重播</span><span class="btn btn-dl" onclick="jumppage()">立即下载</span>
            </div>
        </div>
    </div>

    <script>
        var elevideo = document.getElementById("v1");
        elevideo.addEventListener('ended', function () { //结束
            video.currentTime = totalTime;
            v1.play()
        }, false);
    </script>


</div>
</body>
</html>